{% load static from staticfiles %}
<html lang="en">
<head>
    <title>Dublin Bus</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- <link rel="stylesheet" href="style.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" rel="stylesheet"/>
</head>
<body>
<div id="myModal" class="modal">
    <div id="ex1" class="modal">
        <button id="back" onclick="show_window()"><a href="#" rel="modal:close">Return</a></button>
        <p></p><br><br><br><br>
        <div>
            <button class="fares_demographic_button" onclick="build_table('Adults')"><a href="#ex2" rel="modal:open">Adults</a>
            </button>
            <button class="fares_demographic_button" onclick="build_table('Children')"><a href="#ex3" rel="modal:open">Children</a>
            </button>
        </div>
        <br><br><br>
        <div>
            <button class="fares_demographic_button" onclick="build_table('Students')"><a href="#ex4" rel="modal:open">Students</a>
            </button>
            <button class="fares_demographic_button" onclick="build_table('Tourists')"><a href="#ex5" rel="modal:open">Tourists</a>
            </button>
        </div>
    </div>

    <div id="ex2" class="modal">
        <br>
        <button id="back"><a href="#ex1" rel="modal:open">Return</a></button>
        <div id="adult">
        </div>
    </div>
    <div id="ex3" class="modal">
        <br>
        <button id="back"><a href="#ex1" rel="modal:open">Return</a></button>
        <div id="children">
        </div>
    </div>
    <div id="ex4" class="modal">
        <br>
        <button id="back"><a href="#ex1" rel="modal:open">Return</a></button>
        <div id="student">
        </div>
    </div>
    <div id="ex5" class="modal">
        <br>
        <button id="back"><a href="#ex1" rel="modal:open">Return</a></button>
        <div id="tourist">
        </div>
    </div>
    <div id="ex6" class="modal">
        <br>
        <button id="back"><a href="#ex1" rel="modal:open">Return</a></button>
        <div id="payment_form">
            <div>
                <img id="dublinBus_logo" src="{% static "images/dublinBus.png" %}" alt="Stripe" height="130px"
                     width="160px">
            </div>
            <input class="payment_element_details" value="" type="text" placeholder="Forename..."
                   style="width:100%;"/><br><br>
            <input class="payment_element_details" value="" type="text" placeholder="Surname..."
                   style="width:100%;"></input><br><br>
            <input id="customer_email" class="payment_element_details" value="" type="email"
                   placeholder="Email Address..." style="width:100%;"></input><br><br>
            <input style="zoom:1.5" type="checkbox"><span class="terms"><a href="#"><b> I accept Dublin Buses Terms and Conditions</b></a></span><br>
            <div>
                <!-- <button role="link" id="checkout-button-sku_FWzvX5EMh91Ai0" class="payment_elements">Pay Now</button> -->
                <br><br><br>
                <img id="stripe_logo" src="{% static "images/stripe2.png" %}" alt="Stripe" height="90px" width="120px">
            </div>
        </div>
    </div>

</div>

<div class='viewport'>
    <div class='map' id="map" style="width:100%;height:100%;position:absolute;">></div>
    <div class="popup-button" hidden>
        <ion-icon name="arrow-round-forward"></ion-icon>
    </div>
    <div class='content'>
        <!-- Weather widget -->
        <div id="weather">
            <a class="weatherwidget-io" data-basecolor=""
               data-cloudcolor="#b2d0e3" data-cloudfill="white" data-font="Montserrat"
               data-highcolor="#f0b917" data-icons="Climacons Animated" data-lowcolor="#76b39d"
               data-mode="Current"
               data-mooncolor="#f0b917" data-raincolor="white" data-textcolor="black" data-theme="original"
               href="https://forecast7.com/en/53d35n6d26/dublin/">DUBLIN</a>
        </div>
        <!-- Weather widget -->

        <form class='search-panel'>
            <label for="source-input">
                <input id="source-input" placeholder="Where are you travelling from?"
                       type="text" value="">

            </label>
            <label for="destination-input">
                <input id="destination-input" placeholder="Where do you wish to go?"
                       type="text" value="">
            </label>
            <br>
            <div class="options">
                <div class="option">
                    <span class="time-option-panel">
                        <span class="time-option-label" data-option="dep">Departure at</span>
                        <ion-icon name="arrow-dropright"></ion-icon>
                    </span>
                    <span class="route-option" hidden>Options</span>
                </div>
                <div class="date-time" hidden>
                    <label for="date-picker" class="date-picker-label">
                        <input type="date" name="date-picker" class="date-picker">
                    </label>
                    <label for="time-picker" class="time-picker-label">
                        <input type="time" name="time-picker" class="time-picker">
                    </label>
                </div>
                <div class="route-options" hidden>
                    <div class="option-panel">
                        <ul class="prefer-options">
                            POI
                            <li>
                                <label for="prefer-bus">
                                    <input type="checkbox" id="prefer-bus" value="attraction" checked>Attraction
                                </label>
                            </li>
                            <li>
                                <label for="prefer-subway">
                                    <input type="checkbox" id="prefer-subway" value="business" checked>Business
                                </label>
                            </li>
                            <li>
                                <label for="prefer-train">
                                    <input type="checkbox" id="prefer-train"
                                           value="medical" checked>Medical
                                </label>
                            </li>
                            <li>
                                <label for="prefer-rail">
                                    <input type="checkbox" id="prefer-rail" value="school" checked>School
                                </label>
                            </li>
                        </ul>

                        <ul class="routes-options">
                            Routes
                            <li>
                                <label for="best-route">
                                    <input type="radio" id="best-route" name="routes"
                                           value="fewer_transfers" checked>Best route
                                </label>
                            </li>
                            <li>
                                <label for="fewer-transfer">
                                    <input type="radio" id="fewer-transfer" name="routes"
                                           value="fewer_transfers">Fewer transfers
                                </label>
                            </li>
                            <li>
                                <label for="less-walking">
                                    <input type="radio" id="less-walking" name="routes"
                                           value="less_walking">Less walking
                                </label>
                            </li>
                            <li>
                                <label for="wheelchair">
                                    <input type="radio" id="wheelchair" name="routes"
                                           value="less_walking">Wheelchair
                                </label>
                            </li>
                        </ul>

                        <div class="path-panel">

                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="spinner" hidden></div>
        <ul class="routes" hidden>
        </ul>

        <div style="float:right; margin-right:35%;">
            <button id="fare_calculator"
                    style="background-color:white;border-style:solid;border-width:3px;border-radius:4px;border-color:#B0E0E6"
                    hidden>
                <a style="background-color:white" id="checkout-button-sku_FWzvX5EMh91Ai0">
                    Prepay Journey
                </a>
            </button>
        </div>
    </div>
</div>

<footer>
    <p>Team 3 &copy; 2019. All rights reserved</p>
</footer>
<script type="text/javascript" src="{% static 'static.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    let map;
    let source_input = '';
    let dest_input = '';
    let form_fill = false;
    let options_open = false;
    let window_hidden = false;
    let start_marker = undefined;
    let end_marker = undefined;
    let pois = [
        {
            featureType: 'administrative',
            stylers: [{visibility: 'off'}]
        },
        {
            featureType: 'poi',
            stylers: [{visibility: 'on'}]
        },
        {
            featureType: 'landscape',
            stylers: [{visibility: 'on'}]
        },
        {
            featureType: 'road',
            stylers: [{visibility: 'on'}]
        },
        {
            featureType: 'transit',
            stylers: [{visibility: 'on'}]
        },
        {
            featureType: 'water',
            stylers: [{visibility: 'on'}]
        },
        {
            featureType: 'poi.attraction',
            stylers: [{visibility: 'on'}]
        },
        {
            featureType: 'poi.business',
            stylers: [{visibility: 'on'}]
        },
        {
            featureType: 'poi.medical',
            stylers: [{visibility: 'on'}]
        },
        {
            featureType: 'poi.park',
            stylers: [{visibility: 'on'}]
        },
        {
            featureType: 'poi.school',
            stylers: [{visibility: 'off'}]
        }
    ];
    {#let myInterval = setInterval(check_modal, 1000);#}
    let route_data;
    let poi_marker;
    let polylines = [];
    let route_time;
    let route_panel_state = 'all';
    let pred_time = {};

    const stripe = Stripe('pk_test_IOmIgjzVJsUiQpkgSXzbbdnp00a5W6q9Lx');
    const checkoutButton = document.getElementById('checkout-button-sku_FWzvX5EMh91Ai0');
    let price;

    function find_sku(chosen, journey_index) {
        if (route_data != null) {
            if (route_data[journey_index].steps.length > 3) {
                price = 'sku_FZD8a8cHydrrIe';
            } else {
                for (let i = 0; i < route_data[journey_index].steps.length; i++) {
                    if (route_data[journey_index].steps[i].travel_mode === "TRANSIT") {
                        if (route_data[journey_index].steps[i].transit_details.line.short_name === "90" || route_data[journey_index].steps[i].transit_details.line.short_name === "40e") {
                            price = 'sku_FX2WdTixwDG4mI';
                            break;
                        }
                    }
                }
                if (!price) {
                    if (chosen === "€2.00" || chosen < 3) {
                        price = 'sku_FWzvX5EMh91Ai0';
                    } else if (chosen === "€2.70" || chosen < 13) {
                        price = 'sku_FX2VxeVWr9jLcX';
                    } else if (chosen === "€3.00" || chosen > 13) {
                        price = 'sku_FX2Wnc3goLapAm';
                    } else {
                        price = 'sku_FZCwRmGLD2872j';
                    }
                }
            }
        } else {
            if (chosen === "€2.00" || chosen < 3) {
                price = 'sku_FWzvX5EMh91Ai0';
            } else if (chosen === "€2.70" || chosen < 13) {
                price = 'sku_FX2VxeVWr9jLcX';
            } else if (chosen === "€3.00" || chosen > 13) {
                price = 'sku_FX2Wnc3goLapAm';
            } else {
                price = 'sku_FZCwRmGLD2872j';
            }
        }
    }

    checkoutButton.addEventListener('click', function () {
        // When the customer clicks on the button, redirect
        // them to Checkout.

        stripe.redirectToCheckout({
            items: [{sku: price, quantity: 1}],

            // Do not rely on the redirect to the successUrl for fulfilling
            // purchases, customers may not always reach the success_url after
            // a successful payment.
            // Instead use one of the strategies described in
            // https://stripe.com/docs/payments/checkout/fulfillment
            successUrl: 'http://127.0.0.1:8000/payment_successful',
            cancelUrl: 'http://127.0.0.1:8000/payment_unsuccessful',
        })
            .then(function (result) {
                if (result.error) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer.
                    alert(result.error.message);
                    var displayError = document.getElementById('error-message');
                    displayError.textContent = result.error.message;
                }
            });
    });


    init_handlers();
    detect_device();

    function detect_device() {
        if (/Mobi/.test(navigator.userAgent)) {
            $("<link/>", {
                rel: "stylesheet",
                type: "text/css",
                href: "{% static 'mobile.css' %}"
            }).appendTo("head");
        } else {
            $("<link/>", {
                rel: "stylesheet",
                type: "text/css",
                href: "{% static 'styles.css' %}"
            }).appendTo("head");
        }
    }

    function init_handlers() {
        // init date and time
        const current_date_time = (new Date()).toISOString();
        const current_date = current_date_time.split(/[TZ]/)[0];
        const current_time = current_date_time.split(/[TZ]/)[1];
        $('.date-picker').attr('value', current_date);
        $('.time-picker').attr('value', current_time.split(':').slice(0, 2).join(':'));

        // attach event
        $('.time-option-label').on('click', show_date_time_picker);
        $('.date-picker').change(find_route);
        $('.time-picker').change(find_route);

        const now = new Date();
        $('.date-picker').attr('max', `${now.getFullYear()}-${now.getMonth() + 1}-${now.getDate() + 4}`);

        $('.route-option').click(show_route_options);
        $('.popup-button').click(show_content);

        $('input[type=checkbox]').click(show_poi);
        $('input[name=routes]').click(find_route);

        $(document).ajaxStop(show_result);
        $('ion-icon[name="arrow-dropright"]').on('click', change_time_option);
    }

    function show_poi(event) {
        const poi = $(this).val();
        if ($(this).is(':checked')) {
            for (let i = 0; i < pois.length; i++) {
                if (('poi.' + poi) === pois[i]['featureType']) {
                    pois[i]['stylers'][0]['visibility'] = 'on';
                    map.setOptions({styles: pois});
                    break;
                }
            }
            map.setOptions({styles: pois});
        } else {
            for (let i = 0; i < pois.length; i++) {
                if (('poi.' + poi) === pois[i]['featureType']) {
                    pois[i]['stylers'][0]['visibility'] = 'off';
                    map.setOptions({styles: pois});
                    break;
                }
            }
        }
    }

    function show_result() {
        $('.spinner').hide();
        $('.routes').fadeIn();
    }

    function show_content(event) {
        $(this).fadeOut();
        $('.content').fadeIn();
        map.setZoom(10);
    }

    // TODO Add More Vehicles
    function show_route_options(event) {
        if ($('.route-options').is(':hidden')) {
            $('.route-options').fadeIn();

        } else {
            $('.route-options').fadeOut();
        }
    }

    {# Loading Map into the web page #}
    {# Setup autocomplete #}

    function initMap(journey_index, markers) {
        if (markers) {
            // alert(JSON.stringify(markers, null, 4));
            const lat = Number(markers[0][0][0]);
            const lng = Number(markers[0][0][1]);
            map = new google.maps.Map(document.getElementById('map'),
                {
                    center: {lat: lat, lng: lng},
                    zoom: 14,
                });
            stop_markers(journey_index, markers);

            const busRouteCoordinates = [];
            for (let i = 0; i < markers.length; i++) {
                for (let j = 0; j < markers[i].length; j++) {
                    busRouteCoordinates.push({lat: markers[i][j][0], lng: markers[i][j][1]});
                }
            }
            const routePlan = new google.maps.Polyline({
                path: busRouteCoordinates,
                geodesic: true,
                strokeColor: '#87CEFA',
                strokeOpacity: 1.0,
                strokeWeight: 5
            });

            routePlan.setMap(map);
        } else {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 53.308305, lng: -6.224782},
                zoom: 15,
                disableDefaultUI: true
            });

            map.setOptions({styles: pois});

        }

        setAutocomplete();

    }

    {# First Step: Finding routes from the source and destionation #}

    function find_route() {
        const routes = $('.routes');
        routes.empty();

        let start = document.getElementById("source-input").value;
        let stop = document.getElementById("destination-input").value;

        // Before start searching, show the route options
        $('.route-option').fadeIn();

        // get route option
        const route_option = $('input[name=routes]:checked').attr('value');
        if (start !== '' && stop !== '') {
            let path = '';
            const date_time = (new Date(`${$(".date-picker").attr("value")}T${$(".time-picker").attr("value")}`)).getTime() / 1000;

            if ($('.time-option-label').data('option') === 'dep') {
                path = `/routes?start=${start}&stop=${stop}&dep_time=${date_time}&route_pref=${route_option}`;
            } else if ($('.time-option-label').data('option') === 'arr') {
                path = `/routes?start=${start}&stop=${stop}&arr_time=${date_time}&route_pref=${route_option}`;
            }

            $.getJSON(path, (result) => {
                $('.routes').css('max-height', $(window).height() * 0.5);

                route_data = result;
                for (let i = 0; i < result.length; i++) {
                    pred_time = [];
                    const data = result[i];

                    const r = find_start_end_stop(data);
                    console.log(r);

                    find_route_times_json(r.start.route, r.start.stop, r.start.duration, i);
                    find_route_times_json(r.end.route, r.end.stop, r.end.duration, i);

                    route_time = pred_time;
                    const route = result[i];
                    routes.append(route_card(route, i));
                }
            });
        }
    }

    function show_date_time_picker(event) {
        const $date_time_option = $('.date-time');
        if ($date_time_option.is(':hidden')) {
            $date_time_option.css('display', 'flex').css('justify-content', 'space-between');
            $date_time_option.fadeIn();
        } else {
            $date_time_option.fadeOut();
        }
    }

    function show_direction(event) {
        const $route_panel = $(this).parents('li');
        const data = route_data[$route_panel.data('route')];
        const start_time = $route_panel.data('start-time');
        const end_time = $route_panel.data('end-time');

        // calculate the fare for this trip
        let n_stops = 0;

        for (let i = 0; i < data['steps'].length; i++) {
            const step = data['steps'][i];

            if (step['travel_mode'] === 'TRANSIT') {
                n_stops += step['transit_details']['num_stops'];
            }
        }

        find_sku(n_stops, $route_panel.data('route'));

        if ($('#fare_calculator').is(':hidden')) {
            $('#fare_calculator').fadeIn();
        }

        console.log('price', price);

        const steps = data['steps'];
        // clear previous direction
        if (start_marker !== undefined)
            start_marker.setMap(null);

        if (end_marker !== undefined)
            end_marker.setMap(null);

        for (let i = 0; i < polylines.length; i++) {
            const polyline = polylines[i];
            polyline.setMap(null);
        }

        polylines = [];
        const start_location = data['start_location'];
        const end_location = data['end_location'];
        map.setCenter(new google.maps.LatLng(start_location['lat'], start_location['lng']));

        if (pred_time.length > 0) {
            start_marker = new google.maps.Marker({
                position: start_location,
                map: map
            });

            end_marker = new google.maps.Marker({
                position: end_location,
                map: map
            });
        } else {
            start_marker = new google.maps.Marker({
                position: start_location,
                map: map
            });

            end_marker = new google.maps.Marker({
                position: end_location,
                map: map
            });
        }

        // draw path on the map
        for (let i = 0; i < steps.length; i++) {
            const step = steps[i];
            const polyline = new google.maps.geometry.encoding.decodePath(step['polyline']['points']);
            const path = new google.maps.Polyline({
                path: polyline,
                geodesic: true,
                strokeColor: '#1e90ff',
                strokeOpacity: 1.0,
                strokeWeight: 5
            });

            polylines.push(path);
            path.setMap(map);
        }

        // adjust the zoom level when the button is clicked
        map.setZoom(13);
        map.setCenter(new google.maps.LatLng(53.346669, -6.264529));

        if (/Mobi/.test(navigator.userAgent)) {
            $('.content').fadeOut();
            $('.popup-button').fadeIn();
        }

        $(this).prev('.detail-button').trigger('click');
    }

    function change_time_option(event) {
        const $time_option = $('.time-option-label');

        if ($time_option.attr('data-option') === 'dep') {
            $time_option.attr('data-option', 'arr');
            $time_option.text('Arrival by');
        } else {
            $time_option.attr('data-option', 'dep');
            $time_option.text('Departure by');
        }
    }

    function five_day_date() {
        const today = new Date();
        const today_milliseconds = today.getTime();
        const millseconds_five_days = (today_milliseconds + 432000000);
        const five_day = new Date(millseconds_five_days);
        const year = five_day.getFullYear();
        let month = (five_day.getMonth() + 1);
        let day = five_day.getDate();
        if (day < 10) {
            day = '0' + day
        }
        if (month < 10) {
            month = '0' + month
        }
        const max = (year + '-' + month + '-' + day);
        $('#date-input').attr('max', max);
    }

    function display_dateTime() {
        {# Change Log: Saving HTML Element to a variable, which can be reused multiple times #}
        const date_time = $('#date_time');
        if (date_time.is(':hidden')) {
            date_time.css("display", "block");
        } else {
            date_time.hide();
        }
    }

    function stop_markers(journey_index, bus_markers) {
        let int = 0;
        const colour_markers = [`{% static "images/red_MarkerA.png" %}`, `{% static "images/orange_MarkerB.png" %}`, `{% static "images/green_MarkerC.png" %}`];
        for (let i = 0; i < route_data[journey_index].steps.length; i++) {
            if (route_data[journey_index].steps[i].travel_mode === "WALKING") {
                for (let j = 0; j < route_data[journey_index].steps[i].steps.length; j++) {
                    const latitude = route_data[journey_index].steps[i].steps[j].end_location.lat;
                    const longitude = route_data[journey_index].steps[i].steps[j].end_location.lng;
                    const myLatLng = {lat: Number(latitude), lng: Number(longitude)};
                    const marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        icon: `http://maps.google.com/mapfiles/ms/icons/blue-dot.png`,
                        draggable: true,
                        title: 'Walking'
                    });
                }
            }
        }
        for (let i = 0; i < bus_markers.length; i++) {
            for (let j = 0; j < bus_markers[i].length; j++) {
                const latitude = bus_markers[i][j][0];
                const longitude = bus_markers[i][j][1];
                const myLatLng = {lat: Number(latitude), lng: Number(longitude)};
                const marker = new google.maps.Marker({
                    position: myLatLng,
                    icon: colour_markers[int],
                    map: map,
                    title: 'Bus Stop'
                });
            }
        }
        int++;
    }

    function days_since_start_2018() {
        const current_milliseconds = Date.now();
        const jan_18_millseconds = Date.parse('2018, 01, 01');
        return Math.round((current_milliseconds - jan_18_millseconds) / 1000 / 86400);
    }

    function display_route_on_map(event) {
        {# route_card is the object which is clicked by the mouse #}
        const route_card = event.target;
        const journey_index = route_card.dataset.route;
        const bus_stop_arrival_times = find_route_times_json(journey_index);
        find_route_stops(journey_index, bus_stop_arrival_times);
    }

    function get_seconds_since_midnight() {

        let seconds_since_midnight;

        if ($('#date_time').css("display") === "none") {
            const date = new Date();
            const year = date.getFullYear();
            const month = date.getMonth();
            const day_of_month = date.getDate();
            const milliseconds_to_date = Date.UTC(year, month, day_of_month);
            const seconds_to_date = (milliseconds_to_date / 1000);
            const current_seconds = date / 1000 + 3600;
            seconds_since_midnight = current_seconds - seconds_to_date;
        } else {
            const time = $('.time-picker').val();
            const time_array = time.split(":");
            const hour = Number(time_array[0]);
            const minutes = Number(time_array[1]);
            const total_minutes = ((hour * 60) + minutes);
            seconds_since_midnight = total_minutes * 60;
        }

        return seconds_since_midnight;
    }

    function get_date_time() {

        let date;
        let time;

        let total_seconds;
        if ($('#date_time').css("display") === "none") {
            date = new Date();
            date = date.getTime();
            time = date / 1000 + 3600;
        } else {
            date = $('.date-picker').val();
            date = new Date(date);
            date = date.getTime();
            time = $('.time-picker').val();
            const time_array = time.split(":");
            const hour = Number(time_array[0]);
            const minutes = Number(time_array[1]);
            const total_minutes = ((hour * 60) + minutes);
            const total_milliseconds = total_minutes * 60000;
            total_seconds = ((date + total_milliseconds) / 1000);
            time = total_seconds;
        }
        return time;
    }

    function find_route_times_json(route, stop, duration, index) {
        const t_minus_1118 = days_since_start_2018();
        let time_count = get_seconds_since_midnight();
        let time;
        let day_of_week;

        const departure_time_seconds = get_date_time();
        time = departure_time_seconds * 1000;
        time = new Date(time);
        const month = time.getMonth();
        day_of_week = time.getDay();
        const planned_time_of_arrival = time_count + parseInt(duration);

        if (route === '155')
            return;

        const path = `/predict/${route}/${stop}/${planned_time_of_arrival}/${day_of_week}/${month + 1}/${departure_time_seconds}/${t_minus_1118}`;
        $.getJSON(path, (result) => {
            let hours = Math.floor(parseInt(result) / 3600);
            let minutes = Math.floor((parseInt(result) - (hours * 3600)) / 60);

            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }

            if (index in pred_time)
                pred_time[index].push(`${hours + 1}:${minutes}`);
            else {
                pred_time[index] = [];
                pred_time[index].push(`${hours + 1}:${minutes}`);
            }
        });
    }

    function find_route_stops(journey_index, bus_stop_arrival_times) {
        const stops_list_json = find_route_stops_json(journey_index);
        bus_stops(journey_index, stops_list_json, bus_stop_arrival_times);
    }


    function bus_stops(journey_index, stops_list, bus_stop_arrival_times) {
        $('#possible_routes').css('overflow', 'hidden');
        const bus_stops_data = stops_list;
        let str = '<div id="stops" class="container"><br>';
        const all_bus_markers = [];
        const walking_markers = [];
        let route_count = 0;
        for (let i = 0; i < route_data[journey_index].steps.length; i++) {
            if (route_data[journey_index].steps[i].travel_mode === "WALKING") {
                str += '<div id="walking_info">' +
                    '<div><img id="walking" src="{% static "images/walking.png" %}" alt="walking" height="40px" width="40px"></div>' +
                    '<div style="text-align: center;vertical-align: middle;"><h5>' + route_data[journey_index].steps[i].html_instructions + '</h5></div>' +
                    '<div style="margin-left:5px;"><small>' + route_data[journey_index].steps[i].duration.text + '</small></div>' +
                    '</div><br>';
                walking_markers.push(route_data[journey_index].steps[i].steps);
            } else {
                const trip_time = parseInt((bus_stop_arrival_times[1] - bus_stop_arrival_times[0]) / 60);
                // alert(JSON.stringify(bus_stop_arrival_times, null, 4));
                // document.getElementById("test").innerHTML = bus_stop_arrival_times[0];
                for (let y = 0; y < bus_stops_data.length; y++) {
                    const bus_markers = [];
                    for (let x = 0; x < bus_stops_data[y].length; x++) {
                        const latitude = bus_stops_data[y][x].Stn.y;
                        const longitude = bus_stops_data[y][x].Stn.x;
                        bus_markers.push([latitude, longitude]);
                    }
                    str += '<div id="walking_info">' +
                        '<div><img id="greenBus" src="{% static "images/greenBus.png" %}" alt="greenBus" height="40px" width="40px"></div>' +
                        '<div style="text-align: center;vertical-align: middle;"><h5>' + route_data[journey_index].steps[i].html_instructions + '</h5></div>' +
                        '<div style="margin-left:15px;"><small>' + trip_time + 'mins</small></div>' +
                        '</div><br>';
                    all_bus_markers.push(bus_markers);
                }
                route_count++;
            }
        }

        initMap(journey_index, all_bus_markers);
        const stops_count = all_bus_markers[0].length;
        // alert(JSON.stringify(all_bus_markers, null, 4));
        // document.getElementById("test").innerHTML = stops_count;
        find_sku(stops_count, journey_index);
        str += '<button id="fare_calculator"><a href="#ex6" onclick="hide_window()" rel="modal:open">Pre-Pay Trip</a></button>' +
            '</div>';
        $('#fare_calculator').css('display', 'block');
        $('#window').css('height', '650px');
        $('#possible_routes').css('height', '335px');
        $("#possible_routes").empty();
        document.getElementById("possible_routes").innerHTML = str;
        $('#stops').css('height', '300px');
    }

    //moved the setting up of the autocomplete boxes to another function
    function setAutocomplete() {
        const originInput = document.getElementById('source-input');
        const destinationInput = document.getElementById('destination-input');

        // define a center and circle for our autocomplete search, this makes it so that it's biased toward this area when
        // searching for a place name
        const center = new google.maps.LatLng(53.33306, -6.24889);
        const circle = new google.maps.Circle(
            {
                center: center,
                radius: 10000
            });
        // setting up the autcomplete and adding the bound circle of 10KM for suggestions
        const originAutocomplete = new google.maps.places.Autocomplete(originInput);
        const destinationAutocomplete = new google.maps.places.Autocomplete(destinationInput);
        originAutocomplete.addListener('place_changed', update_source_input);
        destinationAutocomplete.addListener('place_changed', update_dest_input);

        originAutocomplete.setBounds(circle.getBounds());
        destinationAutocomplete.setBounds(circle.getBounds());
    }

    function update_source_input(event) {
        source_input = $('#source-input').val();

        if (source_input !== '' && dest_input !== '') {
            $('.routes').empty();
            $('.spinner').show();
            find_route();
            {#setTimeout(show_result, 5000 + Math.floor(Math.random() * 5000));#}
        }
    }

    function update_dest_input(event) {
        dest_input = $('#destination-input').val();

        if (dest_input !== '' && source_input !== '') {
            $('.routes').empty();
            $('.spinner').show();
            find_route();
            {#setTimeout(show_result, 5000 + Math.floor(Math.random() * 5000));#}
        }
    }

    {# Generate Card for each Route #}

    function route_card(route, index) {
        const $root = $('<li>');

        const $div_time = $('<div>', {
            'class': 'time'
        });

        const $div_steps = $('<div>', {
            'class': 'steps'
        });

        const $div_heading = $('<div>', {
            'class': 'heading'
        });

        const $search_panel = $('<div>', {
            'class': 'search-panel'
        });

        const $detail_button = $('<div>', {
            'class': 'detail-button'
        }).text('Details').click(show_details);

        const $start_button = $('<div>', {
            'class': 'start-button'
        }).text('Start').click(show_direction).ajaxStart((event) => {
            $start_button.text('');
            const $spinner = $('<div>', {
                'class': 'spinner'
            }).append($('<div>', {
                    'class': 'double-bounce1'
                }),
                $('<div>', {
                    'class': 'double-bounce2'
                }));

            $start_button.append($spinner);
        });

        $search_panel.append($detail_button, $start_button);

        const $i_bus_icon = $('<ion-icon>', {
            'name': 'bus',
            'class': 'card-bus-icon '
        });

        const $i_bus_time = $('<i>', {
            'class': 'bus-arrival-time'
        });

        const $i_bus_duration = $('<i>', {
            'class': 'bus-duration'
        });

        let headsign = [];
        let durations = 0;
        const bus_times = [];

        for (let index = 0; index < route.steps.length; index++) {
            const step = route.steps[index];
            durations += parseInt(step.duration.text);
            let $i = $('<ion-icon>');

            const $arrow = $('<ion-icon>', {
                'class': 'step-sep',
                'name': 'arrow-forward'
            });

            if (step.travel_mode === 'WALKING') {
                $i.attr('class', 'walking-icon');
                $i.attr('name', "walk");
                $div_steps.append($i);
                $div_steps.append($arrow);
            } else if (step.travel_mode === 'TRANSIT') {
                let $n = $('<i>');
                $i.attr('class', 'bus-icon');
                $i.attr('name', 'bus');
                $n.text(step['transit_details']['line']['short_name']);
                const bus_dep_time = step['transit_details']['departure_time']['text'];
                const bus_arr_time = step['transit_details']['arrival_time']['text'];

                bus_times.push(bus_dep_time, bus_arr_time);

                headsign.push(step['transit_details']['headsign'] + '\t');
                $n.attr('class', 'route-short-name');
                $div_steps.append($i);
                $div_steps.append($n);
                $div_steps.append($arrow);
            }
        }

        const now = new Date();
        const time = new Date(now.getFullYear(), now.getMonth(), now.getDate(),
            parseInt(bus_times[0].slice(0, -2).split(':')[0]) + 1, parseInt(bus_times[0].slice(0, -2).split(':')[1]));
        const minutes = (time.getMinutes() < 10 ? '0' : '') + time.getMinutes();

        if (index in pred_time && pred_time[index].length > 0) {
            $i_bus_time.text(`${pred_time[index][0]}`);
        } else
            $i_bus_time.text(`${time.getHours()}:${minutes}${bus_times[0].slice(-2)}`);

        $root.attr('data-start-time', bus_times[0]);
        $root.attr('data-end-time', bus_times[bus_times.length - 1]);

        headsign = [headsign[0], headsign[headsign.length - 1]];

        $i_bus_duration.text(durations.toString() + 'min');

        $div_time.append($i_bus_icon);
        {#$div_time.append($i_bus_time);#}
        $div_time.append($i_bus_duration);
        $div_time.append($('<br>'));
        $div_steps.last().remove();

        $div_heading.text(headsign.join('   >   '));

        $root.append($div_time);
        $root.append($div_steps);
        $root.append($div_heading);
        $root.append($search_panel);

        $root.attr('data-route', index);

        return $root;
    }

    function show_details(event) {
        const $route = $(this).parent().parent();
        const $route_panel = $route.parent();
        const data = route_data[$route.data('route')];

        {# toggle detail panel #}
        if (route_panel_state === 'details') {
            {# exists and visiable #}
            $('.detail-panel').remove();
            $('.detail-button').text('Details');
            $route_panel.children().fadeIn();
            route_panel_state = 'all';
            map.setZoom(13);
            map.setCenter(new google.maps.LatLng(53.346669, -6.264529));
            return;
        } else if (route_panel_state === 'stop') {
            $('.stop-panel').remove();
            $route.next('.detail-panel').fadeIn();
            route_panel_state = 'details';
            return;
        }

        $(this).text('Back');
        $route_panel.children().fadeOut();
        $route.fadeIn();
        $route_panel.fadeOut();

        route_panel_state = 'details';

        const $detail_panel = $('<div>', {
            'class': `detail-panel detail-panel-${$route.data('route')}`
        });
        let n_bus = 0;
        for (let i = 0; i < data['steps'].length; i++) {
            const step = data['steps'][i];
            const $detail_item = $('<li>', {
                'class': 'detail-item'
            });

            const $detail_info = $('<div>', {
                'class': 'detail-item-info'
            });

            const $detail_time = $('<div>', {
                'class': 'detail-item-time'
            });

            let $icon;

            if (step['travel_mode'] === 'WALKING') {
                $icon = $('<ion-icon>', {
                    'class': 'detail-item-icon walk-icon',
                    'name': 'walk'
                });
            } else if (step['travel_mode'] === 'TRANSIT') {
                $icon = $('<ion-icon>', {
                    'class': 'detail-item-icon bus-icon',
                    'name': 'bus'
                });

                const index = $route.data('route');
                $detail_item.click(show_stops);

                if (index in pred_time && pred_time[index].length >= 2 * n_bus) {
                    $detail_item.attr('dep-time', pred_time[index][2 * n_bus]);
                    $detail_item.attr('arr-time', pred_time[index][2 * n_bus + 1]);
                }

                const dep = step['transit_details']['departure_stop'];
                $detail_item.attr('dep-lat', dep['location']['lat']);
                $detail_item.attr('dep-lon', dep['location']['lng']);

                const arr = step['transit_details']['arrival_stop'];
                $detail_item.attr('arr-lat', arr['location']['lat']);
                $detail_item.attr('arr-lon', arr['location']['lng']);

                const route = step['transit_details']['line']['short_name'];
                $detail_item.attr('route', route);
            }

            const $text = $('<div>', {
                'class': 'detail-item-text'
            }).text(step['html_instructions'].split(/[(,]/)[0]);

            const $duration = $('<i>', {
                'class': 'detail-item-duration'
            }).text(step['duration']['text']);

            const $distance = $('<i>', {
                'class': 'detai-item-distance'
            }).text(step['distance']['text']);

            $detail_time.append($duration, $distance);

            $detail_info.append($text, $detail_time);

            $detail_item.append($icon, $detail_info);

            $detail_panel.append($detail_item);
        }

        $route.after($detail_panel);
        $route_panel.fadeIn();
    }

    function show_stops(event) {
        const $stops_panel = $('<ul>', {
            'class': 'stop-panel'
        });

        const $detail = $(this).parents('.detail-panel');
        const dep_lat = $(this).attr('dep-lat');
        const dep_lon = $(this).attr('dep-lon');
        const arr_lat = $(this).attr('arr-lat');
        const arr_lon = $(this).attr('arr-lon');
        const route = $(this).attr('route');

        const url = `/stops/${route}/${dep_lat},${dep_lon}/${arr_lat},${arr_lon}/${(new Date()).toISOString()}`;

        $.getJSON(url, (result) => {
            for (let i = 0; i < result.length; i++) {
                const stop = result[i];
                const stop_name = stop['Stn']['name'];

                let stop_dep_time = '';

                if ('dep' in stop) {
                    if (i === 0 || i === result.length - 1) {
                        const dep_time = $(this).data('dep-time');
                        if (dep_time !== typeof undefined && dep_time !== false) {
                            stop_dep_time = dep_time;
                        }
                        stop_dep_time = stop['dep'].split(/[T+]/)[1];
                    }
                } else {
                    if (i === 0 || i === result.length - 1) {
                        const arr_time = $(this).data('arr-time');
                        if (arr_time !== typeof undefined && arr_time !== false) {
                            stop_dep_time = arr_time;
                        }
                        stop_dep_time = stop['arr'].split(/[T+]/)[1];
                    }
                }

                const $stop_name = $('<i>', {
                    'class': 'stop-name'
                }).text(stop_name);

                const $stop_dep_time = $('<i>', {
                    'class': 'stop-dep-time'
                });

                if (stop_dep_time !== '') {
                    $stop_dep_time.text(`${stop_dep_time}`);
                }

                const $stop_info = $('<li>', {
                    'class': 'stop-info'
                }).append($stop_name, $stop_dep_time);

                $stop_info.attr('lat', stop['Stn']['y'])
                    .attr('lon', stop['Stn']['x']);
                $stop_info.on('click', show_nearby);

                $stops_panel.append($stop_info);
            }
        });

        $detail.after($stops_panel);
        $(this).parents('.detail-panel').fadeOut();

        route_panel_state = 'stop';
    }

    function show_nearby(event) {
        if (/Mobi/.test(navigator.userAgent)) {
            $('.popup-button').fadeIn();
            $('.content').fadeOut();
        }

        if (poi_marker !== undefined) {
            poi_marker.setMap(null);
        }

        const $stop_info = $(this);
        const new_center = new google.maps.LatLng($stop_info.attr('lat'), $stop_info.attr('lon'));
        map.setCenter(new_center);
        map.setZoom(15);
        poi_marker = new google.maps.Marker({
            position: new_center,
            map: map
        });
    }

    function find_start_end_stop(route) {
        const result = {
            'start': {
                'route': '',
                'stop': '',
                'duration': ''
            },
            'end': {
                'route': '',
                'stop': '',
                'duration': ''
            }
        };

        let stops = [];
        let routes = [];
        let durations = 0;

        for (let i = 0; i < route.steps.length; i++) {
            const step = route.steps[i];
            if (step.travel_mode === 'TRANSIT') {
                stops.push(step.transit_details.departure_stop.id, step.transit_details.arrival_stop.id);
                if ('short_name' in step.transit_details.line)
                    routes.push(step.transit_details.line.short_name);
                else
                    routes.push(step.transit_details.line.name);
            }

            durations += parseInt(step.duration.text) * 60;
        }

        console.log(routes);
        result.start.route = routes[0].toUpperCase();
        result.start.stop = stops[0];
        result.start.duration = 0;
        result.end.route = routes[routes.length - 1].toUpperCase();
        result.end.stop = stops[stops.length - 1];
        result.end.duration = durations;

        return result;
    }

</script>

<!-- Weather widget -->
<script>
    !function (d, s, id) {
        let js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>
<!-- Weather widget -->

<script async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV1hXTPXKXV0b5kZq5_m1nnoi3ndfviVg&libraries=places&callback=initMap&libraries=places"></script>
{#<script crossorigin="anonymous"#}
{#        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"#}
{#        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}

{#<!-- UIkit JS -->#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

</body>

</html>
